extends layout

block content
  ul.breadcrumb
    li
      a(href='/admin') Home 

  ul.nav.nav-pills
    li.active
      a(href='/admin') Dashboard
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown') Professions
        b.caret
      ul.dropdown-menu
        each profession in professions
          li: a(href='/admin/profession/' + profession._id)!= profession.name 