
div.well.well-small(style='width:230px') Current Locale: 
    strong {{ locale }}
    div.dropdown.pull-right
        a.dropdown-toggle#dLabel(role='button', data-toggle='dropdown', data-target='#') Change
            b.caret
        ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
            li.nav-header US
            li
                a(ng-click='setLocale("en_US")') English
            li
                a(ng-click='setLocale("es_MX")') Spanish
            li
                a(ng-click='setLocale("pt_BR")') Portuguese
            li.divider
            li.nav-header Europe
            li
                a(ng-click='setLocale("en_GB")') English (UK)
            li
                a(ng-click='setLocale("es_ES")') Spanish
            li
                a(ng-click='setLocale("fr_FR")') French
            li
                a(ng-click='setLocale("ru_RU")') Russian
            li
                a(ng-click='setLocale("de_DE")') German
            li
                a(ng-click='setLocale("pt_PT")') Portuguese
            li
                a(ng-click='setLocale("it_IT")') Italian
            li.divider
            li
                a(ng-click='setLocale("ko_KR")') Korean
            li.divider
            li
                a(ng-click='setLocale("zh_TW")') Taiwan
            li.divider
            li
                a(ng-click='setLocale("zh_CN")') Chinese
div.pill-content
    div.pill-pane.active(id='US')
        ul.nav.nav-list.realms-sidenav.site-nav
            - each realm in realms
                li
                    a(href='/realm/' + realm.slug, data-target='/realm/' + realm.slug + '/{{ locale }}')
                        i.icon-chevron-right
                        != realm.name
    div.pill-pane(id='EU')
        ul.nav.nav-list.realms-sidenav.site-nav
            - each realm in realms
                li
                    a(href='/realm/' + realm.slug, data-target='/realm/' + realm.slug + '/{{ locale }}')
                        i.icon-chevron-right
                        != realm.name