doctype 5
html(ng-app='app')
  head
    meta(name='fragment', content='!')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/style.css')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
    script(src='http://static.wowhead.com/widgets/power.js')
    script(src='/js/lib/tuj.js')
    script(src='/js/lib/jquery.gritter.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/app/app.js')
    script(src='/js/app/directives.js')
    script(src='/js/app/controllers.js')
    script(src='/js/app/services.js')
    script
      var wowhead_tooltips = { "renamelinks": true }
      var realms = !{collection}
    
  body(data-ng-controller='AppCtrl')
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        a.brand(href='/') Warcraft Professional
        div.nav-collapse.collapse
          ul.nav
            li.active
              a(href='/') Realms
            li
              a(href='#!/about') About
            li
              a(href='#!/contact') Contact
    div.container-fluid
      div.row-fluid
        div.span3.realms-sidebar
          include partials/sidebar          
        div.span9
          block content
      footer
        p &copy;
          a(href='http://www.warcraftprofessional.com/blog/?ref=app') Warcraft Professional
          | uses names and images from World of Warcraft, and data proprietary to Blizzard Entertainment, Inc. World of Warcraft, Warcraft and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.