doctype 5
html(ng-app='app')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
    script(src='http://static.wowhead.com/widgets/power.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/app/app.js')
    script(src='/javascripts/app/controllers.js')
    script
      var wowhead_tooltips = { "renamelinks": true }
    
  body(data-ng-controller='AppCtrl')
    div.container-fluid(data-ng-controller='RealmCtrl')
      block content