@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

@import url(http://fonts.googleapis.com/css?family=PT+Sans);

@import url(http://fonts.googleapis.com/css?family=Crete+Round);

@import url(http://fonts.googleapis.com/css?family=Bitter);
/* Imports */
/* the norm */
#gritter-notice-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 301px;
  z-index: 9999;
}
#gritter-notice-wrapper.top-left {
  left: 20px;
  right: auto;
}
#gritter-notice-wrapper.bottom-right {
  top: auto;
  left: auto;
  bottom: 20px;
  right: 20px;
}
#gritter-notice-wrapper.bottom-left {
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
}
.gritter-item-wrapper {
  position: relative;
  margin: 0 0 10px 0;
  background: url('../images/ie-spacer.gif');
  /* ie7/8 fix */
}
.gritter-top {
  background: url(../images/gritter.png) no-repeat left -30px;
  height: 10px;
}
.hover .gritter-top {
  background-position: right -30px;
}
.gritter-bottom {
  background: url(../images/gritter.png) no-repeat left bottom;
  height: 8px;
  margin: 0;
}
.hover .gritter-bottom {
  background-position: bottom right;
}
.gritter-item {
  display: block;
  background: url(../images/gritter.png) no-repeat left -40px;
  color: #eee;
  padding: 2px 11px 8px 11px;
  font-size: 11px;
  font-family: verdana;
}
.hover .gritter-item {
  background-position: right -40px;
}
.gritter-item p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
.gritter-close {
  display: none;
  position: absolute;
  top: 5px;
  left: 3px;
  background: url(../images/gritter.png) no-repeat left top;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.gritter-title {
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 7px 0;
  display: block;
  text-shadow: 1px 1px 0 #000;
  /* Not supported by IE :( */

}
.gritter-image {
  width: 48px;
  height: 48px;
  float: left;
}
.gritter-with-image,
.gritter-without-image {
  padding: 0;
}
.gritter-with-image {
  width: 220px;
  float: right;
}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
  background-image: url(../images/gritter-light.png);
  color: #222;
}
.gritter-light .gritter-title {
  text-shadow: none;
}
/* Custom */
body {
  font-family: "PT Sans", Arial, sans-serif;
  padding-top: 60px;
  padding-bottom: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", Georgia, serif;
  text-transform: capitalize;
}
#professions td p.cost {
  font-size: 16px;
  line-height: 60px;
  margin: 0;
}
#profession-items ul {
  margin: 0;
}
#profession-items li {
  list-style: none;
  margin-bottom: 5px;
}
#profession-items li span:first-child {
  margin-left: 0;
}
/* Sidebar */
.realms-sidenav-search {
  width: 100%;
}
.realms-sidenav-search input {
  max-width: 236px;
  width: 100%;
}
.realms-sidenav {
  width: 250px;
  margin: 30px 0 0;
  padding: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.realms-sidenav > li > a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.realms-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.realms-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.realms-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
/* Chevrons */
.realms-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.realms-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.realms-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.realms-sidenav .active .icon-chevron-right,
.realms-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
footer {
  margin: 24px 0;
  padding-top: 12px;
  border-top: 1px solid #e5e5e5;
}
