@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       "Droid Serif", Georgia, "Times New Roman", Times, serif;

body {
	font-family: @serifFontFamily;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Yanone Kaffeesatz", @sansFontFamily;
	text-transform: uppercase; 
}