@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
body {
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  padding-top: 60px;
  padding-bottom: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
#professions td p.cost {
  font-size: 16px;
  line-height: 60px;
  margin: 0;
}
#profession-items ul {
  margin: 0;
}
#profession-items li {
  list-style: none;
  margin-bottom: 5px;
}
#profession-items li span:first-child {
  margin-left: 0;
}
