extends ../layout

block content
  script
    var profession = !{bootstrap}

  ul.breadcrumb
    li
      a(href='/admin') Home
      span.divider /
    li
      a(href='/admin/professions') Professions
      span.divider /
    li.active= profession._id

  ul.nav.nav-pills
    li.active
      a(href='#items-pane', data-toggle='tab') Items
    li
      a(href='#detail-pane', data-toggle='tab') Details

  div.pill-content
    div.pill-pane.active#items-pane
      legend Items
      table.table
        thead
          th Name
          th Quantity
          th Database Cost
          th TUJ Cost
          th(colspan='2')
        tbody  
          tr(ng-repeat='item in profession.items')
            td: a(href='#', rel='item={{ item._id }}') {{ item._id }}
            td {{ item.qty }}
            td
              span(class='label', ng-class='{true:"label-info",false:"label-important"}[item.globalCost == prices[item._id]]') {{ item.globalCost }}
            td
              span(class='label') {{ prices[item._id] }}
            td: button(type='button', class='btn btn-warning', ng-click='updateItem(item, prices[item._id])') Update
            td: button(type='button', class='btn btn-danger', ng-click='removeItem(item)') Remove

      form(ng-submit='addItem()')
        fieldset
          legend Add item
            
          label ID
          input(type='text', name='_id', id='itemId')
          
          label Quantity
          input(type='text', name='qty', id='itemQty')
          
        div.form-actions
          button(type='submit', class='btn btn-primary') Add

    div.pill-pane#detail-pane
      form(method='POST', action='/admin/profession/' + profession._id)
        input(type='hidden', name='_method', value='PUT')
        fieldset
          legend Details

          label ID
          input(type='text', value=profession._id, name='_id', placeholder='_id', disabled)
    
          label Name
          input(type='text', value=profession.name, name='name', placeholder='name')
    
        div.form-actions
          button(type='submit', class='btn btn-primary') Update
